{% extends "base.html"%}
{% block title%}内容详情{% endblock %}
<!--填充标题-->
{% block head%}
<!--不加这个title显示不出来-->
{{super()}}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/content.css">
<link rel="stylesheet" href="/static/css/common.css">
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

{% endblock %}

<!--内容-->
{%block content%}
  <!--中间部分-->
<div class="mid">
        <!--面包屑导航-->
        <div class="cus-nav">
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i>
                    <a href="/index">
                        Home
                    </a>
                </li>
                <li>
                    {{content[2]}}
                </li>
                <li class="active">
                   正文
                </li>
            </ol>
        </div>
        <div class="left">
            <!--文章内容-->
            <div class="content">
                <!--文章标题-->
                <h4 class="cus-title">{{content[0]}}</h4>
                <!--文章作者-->
                <!--<div class="cus-infor">-->
                    <!--<span>xiaodao</span>-->
                    <!--<span>2018-09-19</span>-->
                    <!--<span>技术</span>-->
                <!--</div>-->
                <div class="cus-detail">
                    {{content[1]}}
                </div>
            </div>
        </div>
        <div class="right">
            <!--新建一个分支-->
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

