{% extends "base.html"%}
{% block title%}内容详情{% endblock %}
<!--填充标题-->
{% block head%}
<!--不加这个title显示不出来-->
{{super()}}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/content.css">
<link rel="stylesheet" href="/static/css/common.css">
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

{% endblock %}

<!--内容-->
{%block content%}
  <!--中间部分-->
<div class="mid">
        <!--面包屑导航-->
        <div class="cus-nav">
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i>
                    <a href="/index">
                        Home
                    </a>
                </li>
                <li>
                    {{content[2]}}
                </li>
                <li class="active">
                   正文
                </li>
            </ol>
        </div>
        <div class="left">
            <!--文章内容-->
            <div class="content">
                <!--文章标题-->
                <h4 class="cus-title">{{content[0]}}</h4>
                <!--文章作者-->
                <!--<div class="cus-infor">-->
                    <!--<span>xiaodao</span>-->
                    <!--<span>2018-09-19</span>-->
                    <!--<span>技术</span>-->
                <!--</div>-->
                <div class="cus-detail">
                    {{content[1]}}
                </div>
                <!--评论-->
                <div class="comment">
                    <!--提交评论的表单-->
                    <form class="comment-form" action="/comment" method="post">
                        <!--默认pid为0-->
                        <input type="hidden" name="pid" value="0">
                        <input type="hidden" name="articleId" value="{{id}}">
                        <textarea class="input" type="text" name="comment" placeholder="来说两句吧"></textarea>
                        <button class="comment-btn btn btn-default" type="submit">点击提交评论</button>
                        <div class="blank"></div>
                    </form>
                    <!--显示用户评论-->
                    <div class="user-comment">
                        <div class="uc-comment-label" style="border-bottom:1px solid #e7e7e7;">
                            <span style="border:1px solid #e7e7e7; background-color:#fff;border-bottom-color:transparent;padding:5px 20px;border-radius:5px;font-size:18px;">评论</span>
                        </div>
                        <div style="border-left:4px solid #e7e7e7;font-size:18px;margin:20px 0;padding-left:10px;">最新评论</div>
                            <ul class="uc-comment-list">
                                {% for comment in comments%}
                                <li class="uc-comment-item">
                                    <div class="uc-user-infor">
                                        <span class="uc-username">{{comment[2]}}</span>
                                        <span class="uc-address">
                                            [国内网友]
                                        </span>
                                    </div>

                                    <div>
                                        {{comment[3]}}
                                    </div>
                                    <div class="uc-control">
                                        <a href="#">回复</a>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
        <div class="right">
            <!--新建一个分支-->
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

