{% extends "base.html"%}
{% block title%}首页{% endblock %}
<!--填充标题-->
{% block head%}
<!--不加这个title显示不出来-->
{{super()}}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/common.css">
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}

<!--内容-->
{%block content%}
  <!--中间部分-->
    <div class="mid">
        <!--左边-->
        <div class="left">
            <h3 class="newslabel">文章列表</h3>
            <!--博文刘表-->
            <ul class="news-list">
                {% for article in articles%}
                <li class="list-item">
                    <h4><a href="/detail/{{article['id']}}">{{article['title']}}</a></h4>
                    <!--信息-->
                    <div class="infor">
                        <span >作者：</span>
                        <span>{{article['username']}}</span>
                        <span class="label">分类：</span>
                        <span>{{article['catename']}}</span>
                        <span class="label">时间：</span>
                        <span>{{article['time']}}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!--右边-->
        <div class="right">
            <!--友情链接-->
            <div class="special">
                <h4 class="spe-label">友情链接</h4>
                <ul class="list">
                    <li class="list-item">
                        <a href="http://www.github.com" target="_blank">
                            <i class="glyphicon glyphicon-hand-right col-sm-1"></i>
                            <div class="spe-des col-sm-6">Github</div>
                            <i class="glyphicon glyphicon-chevron-right col-sm-offset-2 col-sm-1"></i>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.csdn.net/" target="_blank">
                            <i class="glyphicon glyphicon-hand-right col-sm-1"></i>
                            <div class="spe-des col-sm-6">CSDN</div>
                            <i class="glyphicon glyphicon-chevron-right col-sm-offset-2  col-sm-1"></i>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="http://www.wanandroid.com/" target="_blank">
                            <i class="glyphicon glyphicon-hand-right col-sm-1"></i>
                            <div class="spe-des col-sm-6">玩安卓网</div>
                            <i class="glyphicon glyphicon-chevron-right col-sm-offset-2  col-sm-1"></i>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="https://juejin.im/" target="_blank">
                            <i class="glyphicon glyphicon-hand-right col-sm-1"></i>
                            <div class="spe-des col-sm-6">掘金</div>
                            <i class="glyphicon glyphicon-chevron-right col-sm-offset-2 col-sm-1"></i>
                            <div class="clear"></div>
                        </a>
                    </li>

                </ul>
            </div>

            <!--关于我-->
            <div class="about">
                <h4 class="ab-label">关于我</h4>
                <ul >
                    <li>
                        <span>职业：</span>
                        <span>攻城狮</span>
                    </li>
                    <li>
                        <span>联系方式：</span>
                        <span>xhxiaodao@163.com</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

