<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/register.js"></script>
    <title>注册</title>
</head>
<body>
    <form class="form-horizontal" role="form" action="/register">
        <div class="form-group">
            <h2>注册</h2>
        </div>
        <!--输入用户名-->
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <input type="text" class="form-control" id="username" placeholder="请输入用户名">
            </div>
        </div>
        <!--输入密码-->
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <input type="password" class="form-control" id="password" placeholder="请输入密码">
            </div>
        </div>
        <div class="form-group">

            <div class="col-sm-offset-1 col-sm-11">
                <input type="password" class="form-control" id="confirm" placeholder="请确认密码">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <button type="submit" class="btn btn-default cus-btn" onclick="validate()">注册</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-4">
                <a href="/loginview">
                    已有账号登录
                </a>
            </div>
        </div>
    </form>

</body>
</html>