* {
    margin:0;
}

/************************************通用设置*/
ul {
    padding:0;
}

li {
    list-style: none;
}

body {
    color:#555;
    /*background: url(../res/body_repeat.jpg) repeat;*/
}

a,
a:hover,
a:focus{
    text-decoration: none;
    color: #5e5e5e;
}

.clear {
    clear:both;
}

/********************************************end***************/