
form {
    width:600px;
    height:400px;
    margin:50px auto;
    padding:50px;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-family: "微软雅黑";
    box-shadow: 10px 5px 70px #0d957a;
}
.form-group > h2 {
    text-align: center;
    margin-right:10%;
}

a:hover {
    text-decoration: none;
}

.form-group .cus-btn {
    width:100%;
}

.warning,
.null-warning,
.nomatching-warning{
    /*position : relative;*/
    /*left:11%;*/
    margin-top:6px;
    color:red;
}

.username-valid,
.password-valid,
.confirm-valid{
    color: red;
    position:relative;
    font-size: 18px;
    top:2px;
    display: inline-block;
}